<span class="badge bg-primary d-block d-sm-none">xs 〈576px</span>
<span class="badge bg-secondary d-none d-sm-block d-md-none">sm 〈767.98px</span>
<span class="badge bg-success d-none d-md-block d-lg-none">md 〈991.98px</span>
<span class="badge bg-danger d-none d-lg-block d-xl-none">lg 〈1399.98px</span>
<span class="badge bg-warning d-none d-xl-block d-xxl-none">xl 〈1400px</span>
<span class="badge bg-info d-none d-xxl-block">xxl</span>