@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Index">AthensWorkspace</a>
